// Custom styles.

$shadow: 0 13px 26px rgba(#000, .2), 0 3px 6px rgba(#000, .2);


.posts-expand {
    text-align: justify;
}

.img-profile {
    float: none;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 1.5em;
    display: block;
    border-radius: 5%;
    box-shadow: $shadow;
    max-width: 40%;
    height: auto;
}

@media (max-width: 500px) {
   
    .img-profile {
        margin: auto;
        margin-right: 5%;
        float: none;
        display: block;
    }
  }

body {
  background: #121212;
  color: #E0E0E0;
}

// Cartão padrão
.card {
  background: #232323;
  color: #E0E0E0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border: 1px solid #444444;
}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    a.btn {
    padding: 2px 16px;
    color: #E0E0E0;
    font-size: $read-more-font-size;
    background: #888888;
    border-radius: $read-more-border-radius;
    line-height: 2;
    margin: 0 4px 8px 4px;
    border: 1px solid #444444;
  }
  a.btn:hover {
    background: #B0B0B0;
    color: #121212;
  }
  } 

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.myBtnContainer {
  /* Style the buttons */
  .btn {
    border: 1px solid #444444;
    border-radius: 5%;
    outline: none;
    padding: 12px 16px;
    background-color: #888888;
    cursor: pointer;
    color: #E0E0E0;
  }

  .btn:hover {
    background-color: #B0B0B0;
    color: #121212;
    border: 1px solid #444444;
  }

  .btn.active {
    background-color: #444444;
    color: #E0E0E0;
    border: 1px solid #888888;
  }
}